{"filter":false,"title":"requirements.txt","tooltip":"/app/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1532698570829,"hash":"d1841fc6befb1d7fb983d87b7011bce16896c9b3"}